/FilePath/
.idea
/LogFile/
/src/test_case/baidu/person.py
/src/test_case/ctrip/person.py
/src/test_case/fql/person.py
/src/test_case/meituan/person.py
/src/test_case/wld/person.py
/src/test_case/jiebei/person.py
/src/test_case/JieTiao/person.py
/src/test_case/Jike/person.py
/src/test_case/zhixin/person.py
/src/test_case/YingJiZF/person.py
/results/
.pytest_cache
/allure/
/package/
/src/test_case/*/allure-report/
